.planoAtual {
    background-color: #fff;
    max-width: 1000px;
    box-shadow: 2px 2px 10px #CCC;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
}

.titulo {
    max-width: 500px;
    margin: auto;
    text-align: center;
    padding: 2px;
}

.detalhePlano {
    text-align: start;
}

.botaoPlano {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.containerDetalhePlano {
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}

.formModal {
    display: flex;
    flex-direction: row;
}