/*Setar as cores, fontes, espaçamento padrão, radius, shadow...*/
:root {
  --default-color: #005270;
  --primary-color: #00AFEF;
  --secondary-color: #0C3DF8;
  --sucess-color: #18bf5c;
  --danger-color: #f53636;
  --warning-color: #ff6020;
  --heading-color: #32325d;
  --shadow: 0 4px 8px rgb(0 0 0 / 10%);
}

* {
  text-decoration: none;
}

a {
  color: #fff;
}

/*definir as especificações de fonte, margin e background-color*/
body {
  font-family: 'Poppins', sans-serif;
  height: 100%;
  background-color: #F0EEF0;
}

.Footer {
  height: 200px;
  background-color: #00AFEF;
  bottom: 0;
  width: 100%;
  align-items: center;
}

.FooterContent {
  align-self: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 40px 80px;
}

.FooterEsquerda {
  display: flex;
  flex-direction: column;
}

.FooterDireitos {
  display: flex;
  text-align: left;
  flex-direction: column;
  line-height: 0;
  font-size: 0.8rem;
  padding: 0 1.3rem;
  color: #fff;
}

.FooterNav {
  display: flex;
  justify-content: space-between;
}

.HeaderCenter {
  width: 50%;
  align-self: center;
}

.HeaderNav {
  display: flex;
  width: 100%;
}

.HeaderTabela {
  background-color: var(--primary-color);
}

.TableCostumizada {
  font-family: "Poppins", sans-serif;
}

.FooterDireita {
  width: 55%;
}

.HeaderLista {
  width: 100%;
  display: flex;
  gap: 1.5rem;
  margin-left: 200px;
  flex-direction: row;
  align-items: center;

}

.fotoTabela {
  width: 30px;
  height: 20px;
}

.FooterLista,
.HeaderLista {
  list-style: none;
  text-align: left;
  color: #fff;
}

.Pesquisa {
  display: flex;
  padding: 0 3rem;
  gap: 1rem;
  align-items: center;
  height: 50px;
  margin: auto;
}

/* .Ordernar{
  width: 70%;
}
.Ramo{
  width: 100%;
} */
.Selects {
  width: 39%;
  display: flex;
  gap: 0.5rem;
}

.Ordernar,
.Ramo {
  background-color: #fff !important;
  color: rgba(37, 37, 37, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;

  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.BarraPesquisa {
  width: 60%;
  height: 48px;
  /* height: 100%; */
  margin: 0;

}

.ListaTitulo {
  text-align: center;
  /* width: 140px; */
  font-size: 16px;
  font-weight: 700;

}

.ItemFooter {
  margin-bottom: 0.8rem;
}

.ListaItem {

  font-size: 13px;
  font-weight: 400;
  margin-top: 0.4rem;
}

.App {
  text-align: center;
  height: 100%;
}

.Link {
  text-decoration: none;
  color: white;
}

.linkCard {
  color: #000;
}

.Toolbar.Link {
  margin: auto;
}

.Toolbar {
  background-color: #00AFEF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 2000;

}

.LogoMenor {
  width: 120px;
}

.Logo {
  width: 220px;
}



.Card {
  display: flex;
  /* max-width: 1150px; */
  flex-wrap: wrap;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  justify-content: center;
  gap: 2rem 1.5rem;
}

.Botao {
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.625rem 1.25rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: all .15s ease;
  box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
}

.BotaoLojas {
  background-color: var(--sucess-color);
  margin-bottom: 0.7rem;
}

.BuscarCliente {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;

}

.listaMenor {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;

}
.add{
  color: #18bf5c;
}

.quant {
  margin-left: 20px;
  width: 20%;
}

.listaProduto {
  box-shadow: 2px 2px 10px #CCC;
  display: flex;
  max-height: 50px;
}

.BotaoBuscar {
  background-color: var(--sucess-color) !important;
  color: #fff !important;
  padding: 0.7rem !important;
  align-self: center !important;
  margin: 0 !important;
}

.Login {
  color: #000;
  background-color: #fff;
  border-color: #ffffff;

}

.Cadastro {
  color: #ffffff;
  border-color: #ffffff;
}

.FormContainer {
  display: flex;
  justify-content: center;
}

.Form {
  margin: 1.5rem 0;
  width: 320px;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
  justify-content: center;
  align-items: center;
}

.FormContent {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.9rem;
}

.BotaoContainer {
  padding: 0 5rem;
}

.Container {
  padding: 1rem 10rem;
  height: 100%;
  font-family: 'Poppins', sans-serif;


}

.ContainerHome {
  padding: 1rem 4rem;
  margin: 0;

}

.Tabela {
  font-family: 'Poppins', sans-serif;
  box-shadow: var(--shadow);
}

.CardItem {
  /* margin-left: 60px; */
  height: 100px;
  width: 20%;

}

.CardItem2 {
  width: 100%;
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%) !important;
  transition: transform .2s ease-in-out, background .2s ease-in-out, border .2s ease-in-out, box-shadow .2s ease-in-out;
}

.CardItem2:hover {
  border: 0;
  transition: transform .2s ease-in-out, background .2s ease-in-out, border .2s ease-in-out, box-shadow .2s ease-in-out;
}

.Paginacao {
  display: flex;
  justify-content: end;
  padding-right: 2.5rem;
}


@media (max-width: 580px) {
  .Card {
    flex-direction: column;
    align-items: center;
    gap: 0.9rem;
  }

  .CardItem {
    margin-bottom: 0.7rem;
  }

}